/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

html {
	box-sizing: border-box;
	font-size: $base-size + px;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}


body {
	color: $color-text-dark;
	font-family: $font-base;
	@include font-size($base-size);
	line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	margin: ($base-size * 1.5) + px 0 ;

	a{
		color: inherit;
		text-decoration: none;

		&:hover,
		&:active,
		&:focus{
			color: inherit;
			text-decoration: underline;
		}
	}
}

h1{
	@include font-size(56);
	color: $color-link;
	font-weight: 700;
	line-height: 1.1;
}

h2{
	@include font-size(56);
	color: $color-link;
	font-weight: 700;
	line-height: 1.1;
}

h3{
	@include font-size(32);
	font-weight: 700;
	line-height: 1.2;
}

h4{
	@include font-size(28);
	font-weight: 700;
	line-height: 1.3;
}

h5{
	@include font-size(22);
	font-weight: 700;
	line-height: 1.5;
}

h6{
	@include font-size(20);
	font-weight: 700;
	line-height: 1.5;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0;
	padding: 0 1.5em;
	border-left: 6px solid $color-subheading;
}

q:before,
q:after {
	content: "";
}

q {
	quotes: "" "";
}

address {
	margin: 0 0 1.5em;
	font-style: normal;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

small{
	font-size: 75%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

hr {
	background-color: $color-subheading;
	border: 0;
	height: 3px;
	margin: 3em 0;
}

ul,
ol {
	margin: 0 0 1.5em 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

li{
	margin: 0 0 0.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

button,
input,
select,
textarea{
	color: $color-text-dark;
	font-family: $font-legible;
	@include font-size($base-size);
	line-height: 1.5;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include appearance(none);
	@include transition(background 0.2s linear);
	border: none;
	background: $color-button;
	color: $color-background-light;
	font-weight: 400;
	letter-spacing: 0.25em;
	margin: 0.5em 0;
	max-width: 350px;
	padding: 0.75em 2.5em;
	text-transform: uppercase;
	width: 100%;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	background: lighten($color-button, 15%);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	@include border-radius(0);
	@include transition(outline 0.2s ease-out);
	color: lighten($color-text-dark, 50%);
	border: 1px solid $color-text-dark;
	outline: 2px solid transparent;
	padding: 3px;
	margin: 0.25em 0 0.5em;
	width: 100%;

	@include input-placeholder{
		color: lighten($color-text-dark, 15%);
	}

	&:hover,
	&:active,
	&:focus{
		color: $color-text-dark;
		outline: 2px solid lighten($color-button, 15%);
	}
}

select {
	border: 1px solid $color-text-dark;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
a {
	color: $color-link;
	font-weight: 400;
	text-decoration: underline;
	@include transition(color 0.2s ease);

	img{
		@include opacity(1);
		@include transition(opacity 0.2s ease);
	}
}

a:hover,
a:focus,
a:active {
	color: $color-text-dark;

	img{
		@include opacity(0.8);
	}

}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

.content-area{
	float: left;
	width: calc(100% - 320px);
	padding-right: 1.5em;
}

.widget-area{
	float: right;
	width: 320px;
	margin-top: 1.5em;
}

.lg-container,
.md-container,
.sm-container{
	max-width: 92%;
	margin: 0 auto;
}

.lg-container{
	width: 1200px;
}

.md-container{
	width: 1180px;
}

.sm-container{
	width: 840px;
}

.row{
	@include display-flex;
	@include justify-content(space-between);
	@include align-content(stretch);
	@include flex-wrap(wrap);
	margin: 1.5em auto;
}

.col-two,
.col-three,
.col-four,
.col-five,
.col-six,
.col-one-third,
.col-two-third,
.col-one-fourth,
.col-three-fourth{
	margin-bottom: 1.5em;
}

.col-two{
	width: 50%;
}

.col-three,
.col-one-third{
	width: $one-third;
}

.col-two-third{
	width: $two-third;
}

.col-three-fourth{
	width: 75%;
}

.col-four,
.col-one-fourth{
	width: 25%;
}

.col-five{
	width: 20%;
}

.col-six{
	width: $one-sixth;
}

.gutter{
	padding: 0 3%;
}

.gutter-half{
	padding: 0 1.5%;
}

.text-center{
	text-align: center;
}


/*--------------------------------------------------------------
# Module Classes
--------------------------------------------------------------*/
a.button-1,
.button-1{
	@include transition(background 0.2s linear);
	@include inline-block;
	background: $color-button;
	color: $color-background-light;
	font-family: $font-legible;
	font-weight: 400;
	letter-spacing: 0.25em;
	padding: 0.75em 2.5em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;

	&:hover,
	&:active,
	&:focus{
		background: lighten($color-button, 15%);
	}
}

// Responsive embeds
.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*--------------------------------------------------------------
# Shortcodes
--------------------------------------------------------------*/
.subheading{
	@include font-size(32);
	color: $color-subheading;
	font-family: $font-subheading;
	line-height: 1.1;
	margin-top: -0.5em;
	margin-bottom: ($base-size * 1.5) + px;
}

/*--------------------------------------------------------------
# Theme Colors
--------------------------------------------------------------*/
.light-theme{
	background: $color-background-light;
}

.dark-theme{
	background: $color-background-dark;
	color: $color-text-light;

	h1,
	h2{
		color: $color-text-light;
	}

	a{
		&:hover,
		&:active,
		&:focus{
			color: $color-text-light;
		}
	}
}

/*--------------------------------------------------------------
# Plugin Dependent
--------------------------------------------------------------*/
