/*--------------------------------------------------------------
# Front Page
--------------------------------------------------------------*/

.hp-hero{
	background-image: url('img/hp-hero.png');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	@include background-size(cover);
	height: 620px;
	margin-top: -11px;
	position: relative;
}

.hp-newsletter{
	background: $color-header;
  background-image: url('img/tile-wood-115h.png');
  background-blend-mode: multiply;
  @include background-size(contain);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	.wrapper{
		float: right;
		max-width: 747px;
		padding: 1.5em 1.5em 1em;
	}

	form{
		padding: 0 0.5em 1em;
		float: left;
	}

	.social-icons{
		float: left;
	}

	input{
		float: left;
		margin: 0;
	}

	input[type="email"]{
		width: 60%;
	}

	input[type="submit"]{
		width: 40%;
		@include font-size(13);
		padding: 0.55em 0.25em;
	}

	.social-icon{
		fill: $color-background-light;
		margin: 0.25em 0.5em;

		&:hover,
		&:active,
		&:focus{
			fill: $color-input;
		}
	}
}

.home{

	.col-one-third{
		@include order(2);
	}

	.col-two-third{
		@include order(1);
	}

}

.hp-recent-news{
	padding-right: 1.5em;

	.news-header{
    font-family: $font-subheading;
		@include font-size(30);
		background: $color-subheading;
		color: $color-background-light;
		padding: 0.25em 0.5em;
    background-image: url(img/tile-wood-115h.png);
    background-blend-mode: multiply;
	}

	.news{
		padding: 0.8em 1em;

		&:nth-of-type(odd){
			background: lighten($color-subheading, 10%);
      background-image: url(img/GAnewstextureA.png);
		}

		&:nth-of-type(even){
			background: $color-background-light;
      background-image: url(img/GAnewstextureB.png);
		}

	}

	.text{
		float: left;
		width: calc(100% - 120px);
		color: $color-tour-dark;
	}

	.entry-meta{
		@include font-size(14);
		font-weight: 400;
	}

	.title{
		@include font-size(26);
		font-weight: 500;

		a{
			text-decoration: none;
			color: $color-tour-dark;
		}
	}

	.excerpt{
		@include font-size(16);
    font-family: $font-base;
		font-weight: 400;

		a{
			color: $color-tour-dark;
		}
	}

	.featured-image{
		float: right;
		padding-top: 0.5em;
		text-align: right;
		width: 120px;
	}

	p{
		margin: 0 auto;
	}

	img{
		outline: 5px solid $color-input;
	}

	.news-footer{
		@include font-size(14);
		text-align: center;
		text-transform: uppercase;

		a{
			background: $color-subheading;
			color: $color-background-light;
			display: block;
			padding: 1em 0.5em;
			text-decoration: none;

			&:hover,
			&:active,
			&:focus{
				background: lighten($color-subheading, 10%);
				color: $color-input;
			}
		}
	}

}

/*--------------------------------------------------------------
# Archive Color Theme
--------------------------------------------------------------*/
.blog,
.archive,
.search{
	@extend .dark-theme;
}

/*--------------------------------------------------------------
# Base Card Styles
--------------------------------------------------------------*/

.card-grid{
	@include display-flex;
	@include flex-wrap(wrap);
	@include justify-content(space-between);
	margin: 1.5em auto;

	article,
	.card-container{
		@include display-flex;
		margin: 0 auto 1.5em;
		padding: 0 4px 0;

		&:nth-of-type(4n+1){
			.card{
				background: $color-newsletter;
			}

			.featured-image{
				background: lighten($color-newsletter, 5%);
        background-image: url(img/GAnewstextureA.png);
			}
		}

		&:nth-of-type(4n+2){
			.card{
				background: $color-nav-link;
			}

			.featured-image{
				background: lighten($color-nav-link, 5%);
        background-image: url(img/GAnewstextureB.png);
			}
		}

		&:nth-of-type(4n+3){
			.card{
				background: $color-button;
			}

			.featured-image{
				background: lighten($color-button, 5%);
        background-image: url(img/GAnewstextureA.png);
			}
		}

		&:nth-of-type(4n+4){
			.card{
				background: $color-link;
			}

			.featured-image{
				background: lighten($color-link, 5%);
        background-image: url(img/GAnewstextureB.png);
			}
		}
	}

	.card{
		display: block;
		text-decoration: none;
		color: inherit;
		font-weight: inherit;
		margin-left: auto;
		margin-right: auto;
	}

	.featured-image{
		text-align: center;
		padding: 0.75em;
	}

	.featured-video{
		line-height: 1;
	}

	.upper-text{
		text-align: left;
	}

	.lower-text{
		padding: 0.75em;
		color: $color-tour-dark;
	}

	.entry-title{
		@include font-size(20);
		color: $color-input;
		font-family: $font-subheading;
		font-weight: 500;
		line-height: 1.5;
		margin: 0;
	}

	.posted-on,
	.entry-meta{
		@include font-size(14);
		color: $color-input;
		font-family: $font-subheading;
		font-weight: 400;
		line-height: 1.5;
	}

	.read-more{
		color: $color-input;
	}
}

.card-grid-three{

	article,
	.card-container{
		width: $one-third;
	}
}

.card-grid-two{

	article,
	.card-container{
		width: 50%;
	}
}

.blog,
.archive,
.search{

	.card{
		width: 260px;
	}
}

/*--------------------------------------------------------------
# Pagination
--------------------------------------------------------------*/

.nav-links{
	margin: 0 auto 3em;
	padding-top: 1.5em;
	text-align: center;
	border-top: 1px solid $color-subheading;

	.page-numbers{
		padding: 0.25em 0.5em;
		text-decoration: none;

		&:hover,
		&:active,
		&:focus{
			text-decoration: underline;
		}
	}

	.page-numbers.current{
		background-color: $color-subheading;
		color: $color-text-light;

		&:hover,
		&:active,
		&:focus{
			text-decoration: none;
			cursor: default;
		}
	}

	.page-numbers.dots{
		padding: 0.25em;

		&:hover,
		&:active,
		&:focus{
			text-decoration: none;
		}
	}
}


/*--------------------------------------------------------------
# Band Members
--------------------------------------------------------------*/
.post-type-archive-ga_band_member{

	.lower-text{
		@include font-size(14);
	}

	.card{
		width: 260px;
	}
}

figure.featured-image{
	margin: 1.5em auto;
}

/*--------------------------------------------------------------
# Albums
--------------------------------------------------------------*/

.post-type-archive-ga_album{

	.lower-text{
		@include font-size(14);
	}

	.card{
		width: 400px;
	}
}

.artist{
	color: $color-subheading;
	font-weight: 400;
	@include font-size(40);
	line-height: 1.2;
	display: block;
}

h1.album{
	color: $color-link;
	font-family: $font-subheading;
	font-weight: 400;
	@include font-size(26);
	line-height: 1.4;
	margin: 0.2em 0;
}

.release-info{
	@include font-size(16);
	font-style: italic;
}

.purchase-link-icon{
	fill: $color-subheading;
}

.purchase-links{
	list-style: none;
	margin: 1.5em 0;
	padding: 0;
	font-family: $font-legible;
	text-transform: uppercase;

	li{
		@include inline-block;
		text-align: center;
		margin-right: 1.5em;
	}

	.type-text{
		@include font-size(16);
		color: $color-subheading;
	}

	.type-description{
		@include font-size(14);
		color: $color-link;
	}

	a{
		text-decoration: none;

		&:hover,
		&:active,
		&:focus{

			.type-text,
			.type-description{
				color: $color-text-dark;
			}

			.purchase-link-icon{
				fill: $color-text-dark;
			}
		}

	}
}

/*--------------------------------------------------------------
# Store
--------------------------------------------------------------*/
.page-template-page-store{

	.widget{
		padding-left: 1.5em;
	}

	.row{
		margin-bottom: 0;
	}

	.card-grid{
		margin-top: 0;
	}

	.card{
		width: 360px;
	}

	.button{
		@extend .button-1;
	}

	.banner{
		.button{
			display: none;
		}
	}

}

.store-link{
	@include font-size(12);
	color: $color-input;
	font-family: $font-legible;
	letter-spacing: 0.25em;
	padding: 0 1.5em 1.5em;
	text-transform: uppercase;
	margin-top: auto;
}

/*--------------------------------------------------------------
# Visuals
--------------------------------------------------------------*/

.page-template-page-visuals{

	.card{
		width: 260px;
	}

}


/*--------------------------------------------------------------
# Tour
--------------------------------------------------------------*/

.tour-dates{
	margin: 1.5em auto;
}

.tour-date{
	@include display-flex;
	font-family: $font-subheading;
	border-bottom: 1px solid $color-tour-light;

	.date{
		background: $color-tour-light;
		font-weight: 500;
		padding: 1em 0;
		text-align: center;
		width: 100px;
	}

	.month{
		color: $color-nav-link;
		@include font-size(20);
		line-height: 1;
		text-transform: uppercase;
	}

	.day{
		color: $color-nav-link;
		@include font-size(40);
		line-height: 1;
	}

	.details{
		@include display-flex;
		@include justify-content(space-between);
		@include background-image(linear-gradient(to right, $color-tour-dark, $color-tour-light));
		height: 100%;
		padding: 1.5em;
		position: relative;
		width: calc(100% - 100px);
	}

	.location{
		color: $color-background-light;

		a{
			text-decoration: none;
			color: $color-background-light;

			&:hover,
			&:active,
			&:focus{
				color: $color-input;
			}
		}
	}

	.title{
		@include font-size(22);
		font-weight: 500;
	}

	.city{
		@include font-size(14);
	}

	.buttons{
		@include display-flex;
		@include justify-content(space-between);
		padding: 0.5em 0 0;
	}

	.ticket,
	.share,
	.info{
		padding: 0 1.5em;
		vertical-align: middle;
	}

}

.icon-info,
.icon-share,
.icon-on-sale{

	.a{
		fill: $color-nav-link;
	}

	.b{
		fill: $color-link;
	}

	&:hover,
	&:active,
	&:focus{

		.a{
			fill: $color-link;
		}

		.b{
			fill: $color-nav-link;
		}
	}
}

.icon-sold-out{

	.a{
		fill: $color-link;
	}

	.b{
		fill: $color-nav-link;
	}
}

.share-button{
	width: 30px;
	height: 30px;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;

	ul{
		background: $color-tour-dark;
		display: none;
		list-style: none;
		margin: 0;
		padding: 4px;
		text-align: center;
	}

	li{
		margin: 0;
	}

	a{
		text-decoration: none;
		@include font-size(16);
	}

	&:hover,
	&:active,
	&:focus{
		width: auto;
		height: auto;

		ul{
			position: absolute;
			top: -30px;
			left: -30px;
			right: -30px;
			bottom: -30px;
			display: block;
			z-index: 99;
		}

		.icon-share{
			.a{
				fill: $color-link;
			}

			.b{
				fill: $color-nav-link;
			}
		}
	}
}

.ticket{
	font-family: $font-legible;
	line-height: 30px;

	a{
		text-decoration: none;
		font-weight: 400;
	}
}
