/*-- Colors --*/
$color-text-dark: #686C58; // olive
$color-text-light: #E8E2D6; // grey-ish off-white
$color-background-light: #FDF1D8; // yellow-ish off-white
$color-background-dark: #686C58; // dark olive
$color-input: #FFFFFF; // white
$color-button: #66877C; // light olive - #8CAA89
$color-nav-link: #FFBA5C; // dark yellow - #FFCB69
$color-link: #F87439; // orange
$color-subheading: #6D9B8D; // dark teal
$color-newsletter: #78814E; // army green
$color-tour-dark: #43312A; // dark brown
$color-tour-light: #604337; // light brown - #6D4B3C
$color-recent-news: #CAE8E0; // light teal
$color-header: #354641; // dark green

/*-- Fonts --*/
$font-base: 'Roboto', sans-serif;
$font-legible: 'Roboto Condensed', sans-serif;
$font-subheading: 'Merriweather', serif;

/*-- Font Sizing --*/
$base-size: 16;

@function calculateRem($size) {
  $remSize: $size / $base-size;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size + px;
  font-size: calculateRem($size);
}

@mixin font-size-override($size) {
  font-size: $size + px !important;
  font-size: calculateRem($size) !important;
}

/*-- Compass --*/
$flexbox-support-threshold: -3;

/*-- Misc --*/
$one-third: (1/3)*100%;
$two-third: (2/3)*100%;
$one-sixth: (1/6)*100%;
