/*--------------------------------------------------------------
# Promo Widgets (Sidebar)
--------------------------------------------------------------*/
.widget-area{
	
	.promo{
		text-align: center;
		margin: 1.5em 0;
		line-height: 1;
		
		a{
			display: block;
			padding: 1em 0.5em;
		}
		
		&:nth-of-type(2n+1){
			background-color: $color-link;
		}
		
				
		&:nth-of-type(2n+2){
			background-color: $color-subheading;
		}
	}
}

/*--------------------------------------------------------------
# Tour Widget (Sidebar / Home)
--------------------------------------------------------------*/

.widget{
	margin: 0 auto 1.5em;
	
	.tour-header{
		@include font-size(30);
		background: $color-tour-dark;
		color: $color-background-light;
		font-family: $font-subheading;
		padding: 0.25em 0.5em;
	}
	
	.tour-date{
		
		.date{
			padding: 1em 0;
			width: 50px;
		}
		
		.month{
			@include font-size(15);
			line-height: 1;
		}
		
		.day{
			@include font-size(30);
			line-height: 1;
		}
		
		.details{
			padding: 1em;
			width: calc(100% - 50px);
		}
				
		.title{
			@include font-size(16);
		}
		
		.city{
			@include font-size(12);
		}
		
		.buttons{
			text-align: right;
		}
		
		.info{
			padding: 0;
		}
	
	}
	
	.tour-footer{
		@include font-size(13);
		font-family: $font-subheading;
		font-weight: 400;
		text-align: center;
		text-transform: uppercase;
		
		a{
			background: $color-tour-dark;
			color: $color-nav-link;
			display: block;
			padding: 1em 0.5em;
			text-decoration: none;	
			
			&:hover,
			&:active,
			&:focus{
				background: $color-tour-light;
				color: $color-input;
			}		
		}
	}
}

/*--------------------------------------------------------------
# Newsletter Widget (Sidebar / Store)
--------------------------------------------------------------*/

.newsletter{
	background-image: url('img/sidebar-newsletter-bkgd.jpg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	@include background-size(cover);
	
	form{
		padding: 0 0.5em 1em;
	}
	
	input{
		float: left;
		margin: 0;
	}
	
	input[type="email"]{
		width: 60%;
	}
	
	input[type="submit"]{
		width: 40%;
		@include font-size(13);
		padding: 0.55em 0.25em;
	}
	
	.social-icon{
		fill: $color-background-light;
		
		&:hover,
		&:active,
		&:focus{
			fill: $color-input;
		}
	}
}